Repository catenax/tractusx, pull requests merged in 2021-10, with the labels that each got.

#39 Feature/CAX-1-semantics@CXMVP-23-Sample-Twin Sprint2 Results
  portal/code/tractus-x-portal/.env
  portal/code/tractus-x-portal/README.md
  portal/code/tractus-x-portal/public/semantics/Material.ttl
  portal/code/tractus-x-portal/public/semantics/Material_en.png
  portal/code/tractus-x-portal/public/semantics/ProductDescription.ttl
  portal/code/tractus-x-portal/public/semantics/ProductDescription_en.png
  portal/code/tractus-x-portal/public/semantics/ProductUsage.ttl
  portal/code/tractus-x-portal/public/semantics/ProductUsage_en.png
  portal/code/tractus-x-portal/public/semantics/ReturnRequest.ttl
  portal/code/tractus-x-portal/public/semantics/ReturnRequest_en.png
  portal/code/tractus-x-portal/public/semantics/traceability.ttl
  portal/code/tractus-x-portal/public/semantics/traceability_en.png
  portal/code/tractus-x-portal/src/components/aspect.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins.tsx
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/components/semantichub.tsx
  portal/code/tractus-x-portal/src/components/semanticmodeldetail.tsx
  portal/code/tractus-x-portal/src/stores/appstate.ts
  portal/code/tractus-x-portal/src/styles/App.css
  portal/code/tractus-x-portal/tsi.env
Labels: Target:Staging, Portfolio:Semantic Layer

#101 Feature/cax 12 devops@cxmvp 114 tdg
  .github/workflows/terraform.yml
  .github/workflows/testdatagenerator.yml
  data/tdm/generator/src/main/docker/Dockerfile
  data/tdm/generator/src/main/resources/LICENSE
  data/tdm/generator/src/main/resources/application.properties
  infrastructure/manifests/testdatagenerator-ingress.yaml
  infrastructure/manifests/testdatagenerator.yaml
  infrastructure/terraform/main.tf
Labels: Target:Portfolio, Portfolio:Devops

#106 Implementation/Integration of Semantic Hub (frontend)
  portal/code/tractus-x-portal/src/components/ErrorMessage.tsx
  portal/code/tractus-x-portal/src/components/newsemanticmodel.tsx
  portal/code/tractus-x-portal/src/components/semantichub.tsx
  portal/code/tractus-x-portal/src/components/semanticmodeldetail.tsx
  portal/code/tractus-x-portal/src/components/semantics/DeleteModel.tsx
  portal/code/tractus-x-portal/src/components/semantics/NewSemanticModel.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticModelDetail.tsx
  portal/code/tractus-x-portal/src/components/semantics/data.ts
  portal/code/tractus-x-portal/src/components/semantics/material.json
  portal/code/tractus-x-portal/src/components/semantics/traceability.json
Labels: Portfolio:Semantic Layer

#187 Feature/CAX-1-semantics@CATART0-PO6-53 Final Speedboat Demo with Digital Twin Roundtrip
  .github/workflows/semantics.yml
  coreservices/partsrelationshipservice/broker-proxy-integration-tests/src/test/java/net/catenax/brokerProxy/BrokerProxyMother.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/annotations/ExcludeFromCodeCoverageGeneratedReport.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/annotations/ValueOfEnum.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/requests/PartAspectUpdateRequest.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/requests/PartAttributeUpdateRequest.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/requests/PartRelationshipUpdate.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/requests/PartRelationshipUpdateRequest.java
  coreservices/partsrelationshipservice/broker-proxy/src/main/java/net/catenax/brokerproxy/validators/ValueOfEnumValidator.java
  coreservices/partsrelationshipservice/broker-proxy/src/test/java/net/catenax/brokerproxy/requests/RequestMother.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/annotations/ExcludeFromCodeCoverageGeneratedReport.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/annotations/ValueOfEnum.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/mappers/PartAspectUpdateEventToEntityMapper.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/mappers/PartAttributeUpdateEventToEntityMapper.java
  coreservices/partsrelationshipservice/prs-api/src/main/java/net/catenax/prs/mappers/PartRelationshipUpdateEventToEntityMapper.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/mappers/PartAspectUpdateEventToEntityMapperTests.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/mappers/PartAttributeUpdateEventToEntityMapperTests.java
  coreservices/partsrelationshipservice/prs-api/src/test/java/net/catenax/prs/mappers/PartRelationshipUpdateEventToEntityMapperTests.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/com/catenax/partsrelationshipservice/dtos/messaging/EventCategory.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/com/catenax/partsrelationshipservice/dtos/messaging/PartAspectUpdateEvent.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/com/catenax/partsrelationshipservice/dtos/messaging/PartAttributeUpdateEvent.java
  coreservices/partsrelationshipservice/prs-models/src/main/java/com/catenax/partsrelationshipservice/dtos/messaging/PartRelationshipUpdateEvent.java
  coreservices/partsrelationshipservice/prs-testing/src/main/java/net/catenax/prs/testing/PartUpdateEventMother.java
  coreservices/partsrelationshipservice/terraform/environments/dev.tfvars
  coreservices/partsrelationshipservice/terraform/environments/int.tfvars
  infrastructure/manifests/semantics.yaml
  portal/code/tractus-x-portal/Dockerfile.develop
  portal/code/tractus-x-portal/package.json
  portal/code/tractus-x-portal/src/components/aspect.tsx
  portal/code/tractus-x-portal/src/components/connectoroverview.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/digitaltwins.tsx
  portal/code/tractus-x-portal/src/components/semantics/NewSemanticModel.tsx
  portal/code/tractus-x-portal/src/components/semantics/data.ts
  portal/code/tractus-x-portal/src/components/semantics/traceability.json
  portal/code/tractus-x-portal/src/styles/App.css
  semantics/Dockerfile
  semantics/src/main/java/net/catenax/semantics/idsadapter/config/IdsAdapterConfigProperties.java
  semantics/src/main/java/net/catenax/semantics/idsadapter/service/IdsService.java
  semantics/src/main/resources/application.yml
  semantics/src/main/resources/data.sql
  semantics/src/main/resources/dcx2bom.xsl
  semantics/src/main/resources/dcx2material.xsl
  semantics/src/main/resources/dcx2twin.xsl
  semantics/src/main/resources/sql2bom.xsl
  semantics/src/main/resources/sql2material.xsl
  semantics/src/main/resources/sql2twins.xsl
Labels: Target:Staging, Portfolio:Semantic Layer

#192 FEATURE/CAX-1 Speedboat Hardcoded pages size too small
  semantics/src/main/java/net/catenax/semantics/registry/persistence/RelationalDBPersistence.java
Labels: bug, Target:Staging, Portfolio:Semantic Layer
