Repository catenax/tractusx, pull requests merged in 2021-11, with the labels that each got.

#257 feature/catx-a1-sldt - Increase Development Resources for https://jira.catena-x.net/browse/A1SLDT-14
  .github/workflows/portal.yml
  .github/workflows/semantics.yml
  .github/workflows/terraform.yml
  catenax.postman_collection.json
  infrastructure/terraform/README.md
  infrastructure/terraform/environments/devtsi.tfvars
  infrastructure/terraform/kube_admin_config.json
  infrastructure/terraform/modules/variables/main.tf
  infrastructure/terraform/roleassigner.json
  infrastructure/terraform/ssh.pub
  infrastructure/terraform/state.json
  infrastructure/terraform/variables.tf
Labels: Target:Portfolio, Target:Staging, Portfolio:Semantic Layer

#254 Bug/a1-sldt-129-aspect-json-validate
  portal/code/tractus-x-portal/package.json
  portal/code/tractus-x-portal/src/components/aspect.tsx
  portal/code/tractus-x-portal/src/components/semantics/material.json
  portal/code/tractus-x-portal/src/components/semantics/traceability.json
  semantics/Dockerfile
  semantics/src/main/resources/data.sql
  semantics/src/main/resources/dcx2bom.xsl
  semantics/src/main/resources/sql2bom.xsl
  semantics/twin-data-service.plantuml
Labels: bug, Target:Staging, Portfolio:Semantic Layer

#256 Semantic hub fixes
  portal/code/tractus-x-portal/src/components/lists/descriptionlist.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
Labels: Target:Staging, Portfolio:Semantic Layer

#262 Implement OpenAPI and example payload endpoint for Semantic Hub
  semantics/openapi.yaml
  semantics/src/main/java/net/catenax/semantics/hub/ModelsService.java
  semantics/src/main/java/net/catenax/semantics/hub/bamm/BammHelper.java
  semantics/src/test/java/net/catenax/semantics/hub/ModelsApiTest.java
Labels: Target:Staging, Portfolio:Semantic Layer

#291 Release of Semantic Hub Extension for PI1S4 System Demo https://jira.catena-x.net/browse/A1SLDT-20
  semantics/services/semantic-hub-openapi.yaml
  semantics/services/src/main/java/net/catenax/semantics/hub/ModelsService.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/ModelRepository.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/PersistenceLayer.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/RDBMSPersistence.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/mapper/SemanticModelMapper.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/model/ModelEntity.java
  semantics/services/src/test/java/net/catenax/semantics/hub/ModelsApiTest.java
  semantics/services/src/test/resources/scripts/init-db.sql
Labels: Target:Staging, Portfolio:Semantic Layer

#290 Release of Semantic Hub Frontend for PI1S4 System Demo https://jira.catena-x.net/browse/A1SLDT-20
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/components/semantics/NewSemanticModel.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticModelDetail.tsx
  portal/code/tractus-x-portal/src/components/semantics/data.ts
Labels: Target:Staging, Portfolio:Semantic Layer

#293 Release of additional artifact links in semantic hub frontend
  portal/code/tractus-x-portal/src/components/semantics/SemanticModelDetail.css
  portal/code/tractus-x-portal/src/components/semantics/SemanticModelDetail.tsx
  portal/code/tractus-x-portal/src/components/semantics/data.ts
Labels: Target:Staging, Portfolio:Semantic Layer
