Repository catenax/tractusx, pull requests merged in 2021-12, with the labels that each got.

#295 Semantic Hub: Implement pagination response info in model query
  semantics/services/semantic-hub-openapi.yaml
  semantics/services/src/main/java/net/catenax/semantics/hub/ModelsService.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/PersistenceLayer.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/RDBMSPersistence.java
  semantics/services/src/test/java/net/catenax/semantics/hub/ModelsApiTest.java
Labels: Target:Staging, Portfolio:Semantic Layer

#303 Extend get twins endpoint for pagination parameters
  semantics/services/digital-twin-registry-openapi.yaml
  semantics/services/src/main/java/net/catenax/semantics/registry/CustomTwinsApiDelegate.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/PersistenceLayer.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/RelationalDBPersistence.java
Labels: Target:Staging, Portfolio:Semantic Layer

#332 https://jira.catena-x.net/browse/A1SLDT-225 model request needs to adapt to changed …
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
Labels: bug, Target:Staging, Portfolio:Semantic Layer

#325 Feature/CATX-A1-SLDT@177 Add Input field for Payload example
  portal/code/tractus-x-portal/src/components/semantics/SemanticModelDetail.tsx
Labels: Target:Staging, Portfolio:Semantic Layer

#333 Feature/catx a1 sldt@74 fixes
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.css
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
Labels: Target:Staging, Portfolio:Semantic Layer

#334 https://jira.catena-x.net/browse/A1SLDT-249 Add delete method to semantic hub CORS…
  connector/deployment.yaml
  infrastructure/manifests/portal.yaml
  infrastructure/manifests/semantics.yaml
  portal/code/tractus-x-portal/src/components/semantics/data.ts
  semantics/adapter/src/main/java/net/catenax/semantics/SemanticsAdapterApp.java
  semantics/services/src/main/java/net/catenax/semantics/SemanticsServicesApplication.java
Labels: bug, Target:Portfolio, Target:Staging

#337 Feature/CATX-A1-SLDT@173 Delete Models
  portal/code/tractus-x-portal/src/components/semantics/DeleteModel.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticModelDetail.tsx
Labels: Target:Portfolio, Portfolio:Semantic Layer

#350 Bug/CVE 2021 44228
  connector/run_k8.sh
  connector/run_local.sh
  connector/src/main/pom.patch
  semantics/pom.xml
  semantics/services/pom.xml
  semantics/services/src/test/java/net/catenax/semantics/BaseSemanticModelTest.java
Labels: bug, Target:Staging, Portfolio:Semantic Layer

#352 Feature/catx a1 sldt@a1 sldt 173
  portal/code/tractus-x-portal/src/components/semantics/DeleteModel.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticModelDetail.tsx
Labels: Target:Staging, Portfolio:Semantic Layer

#359 Implement first version of programmatic batch access API
  semantics/services/digital-twin-registry-openapi.yaml
  semantics/services/src/main/java/net/catenax/semantics/registry/CustomTwinsApiDelegate.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/PersistenceLayer.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/RelationalDBPersistence.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/TwinRepository.java
  semantics/services/src/test/java/net/catenax/semantics/registry/TwinsApiTest.java
  semantics/services/src/test/resources/net/catenax/semantics/registry/batch-request.json
  semantics/services/src/test/resources/net/catenax/semantics/registry/valid_twins_with_multiple_local_ids.json
Labels: Target:Portfolio, Portfolio:Semantic Layer

#369 A1SLDT-128 Adjust logic from new API for pagination on Semantic Hub
  portal/code/tractus-x-portal/src/components/navigation/Pagination.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
Labels: Target:Staging, Portfolio:Semantic Layer
