Repository catenax/tractusx, pull requests merged in 2022-02, with the labels that each got.

#402 Bug/cax 12 devops@cplp 127 two keycloak instances
  .github/workflows/iam.yml
  infrastructure/manifests/iamcentralidp.yaml
  infrastructure/manifests/iamsharedidp.yaml
Labels: bug, Portfolio:Devops

#409 Feature/catx a1 sldt@a1 sldt 285 aas
  semantics/services/aas-registry-openapi.yaml
  semantics/services/digital-twin-registry-openapi.yaml
  semantics/services/pom.xml
  semantics/services/src/main/java/net/catenax/semantics/ApiExceptionHandler.java
  semantics/services/src/main/java/net/catenax/semantics/SemanticsServicesApplication.java
  semantics/services/src/main/java/net/catenax/semantics/registry/CustomTwinsApiDelegate.java
  semantics/services/src/main/java/net/catenax/semantics/registry/controller/AssetAdministrationShellApiDelegate.java
  semantics/services/src/main/java/net/catenax/semantics/registry/controller/IdentifierKeyValuePairConverter.java
  semantics/services/src/main/java/net/catenax/semantics/registry/dto/ShellCollectionDto.java
  semantics/services/src/main/java/net/catenax/semantics/registry/mapper/ShellMapper.java
  semantics/services/src/main/java/net/catenax/semantics/registry/mapper/ShellMapperCustomization.java
  semantics/services/src/main/java/net/catenax/semantics/registry/mapper/SubmodelMapper.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/Shell.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/ShellDescription.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/ShellIdentifier.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/Submodel.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/SubmodelDescription.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/SubmodelEndpoint.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/projection/ShellMinimal.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/projection/SubmodelMinimal.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/support/DatabaseExceptionTranslation.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/PersistenceLayer.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/RelationalDBPersistence.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/TwinRepository.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/mapper/TwinAspectMapper.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/model/AspectEntity.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/model/HttpEndpointEntity.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/model/LocalIdentifierEntity.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/model/TwinEntity.java
  semantics/services/src/main/java/net/catenax/semantics/registry/repository/ShellIdentifierRepository.java
  semantics/services/src/main/java/net/catenax/semantics/registry/repository/ShellRepository.java
  semantics/services/src/main/java/net/catenax/semantics/registry/repository/SubmodelRepository.java
  semantics/services/src/main/java/net/catenax/semantics/registry/service/EntityNotFoundException.java
  semantics/services/src/main/java/net/catenax/semantics/registry/service/ShellService.java
  semantics/services/src/main/resources/application.yml
  semantics/services/src/main/resources/db/changelog/db.changelog-extensions.yaml
  semantics/services/src/main/resources/db/changelog/db.changelog-master.yaml
  semantics/services/src/main/resources/db/changelog/db.changelog-v1.yaml
  semantics/services/src/test/java/net/catenax/semantics/registry/AssetAdministrationShellApiTest.java
  semantics/services/src/test/java/net/catenax/semantics/registry/TwinsApiTest.java
  semantics/services/src/test/java/net/catenax/semantics/registry/mapper/ShellMapperTest.java
  semantics/services/src/test/resources/application.properties
Labels: Target:Portfolio, Portfolio:Semantic Layer

#377 https://jira.catena-x.net/browse/A1SLDT-250 Upgrade ingress class
  .github/workflows/terraform.yml
  infrastructure/terraform/main.tf
Labels: Target:Staging, Portfolio:Semantic Layer

#427 Feature/catx as sldt@a1 sldt 178 graph
  .github/workflows/semantics.yml
  infrastructure/manifests/semantics.yaml
  infrastructure/terraform/main.tf
  portal/code/tractus-x-portal/src/components/semantics/NewSemanticModel.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
  portal/code/tractus-x-portal/src/components/semantics/data.ts
  semantics/pom.xml
  semantics/services/pom.xml
  semantics/services/semantic-hub-openapi.yaml
  semantics/services/src/main/java/net/catenax/semantics/ApiExceptionHandler.java
  semantics/services/src/main/java/net/catenax/semantics/hub/AspectModelNotFoundException.java
  semantics/services/src/main/java/net/catenax/semantics/hub/AspectModelService.java
  semantics/services/src/main/java/net/catenax/semantics/hub/InvalidAspectModelException.java
  semantics/services/src/main/java/net/catenax/semantics/hub/ModelPackageNotFoundException.java
  semantics/services/src/main/java/net/catenax/semantics/hub/ModelsService.java
  semantics/services/src/main/java/net/catenax/semantics/hub/TripleStoreConfiguration.java
  semantics/services/src/main/java/net/catenax/semantics/hub/TripleStoreProperties.java
  semantics/services/src/main/java/net/catenax/semantics/hub/bamm/StaticResolutionStrategy.java
  semantics/services/src/main/java/net/catenax/semantics/hub/domain/ModelPackage.java
  semantics/services/src/main/java/net/catenax/semantics/hub/domain/ModelPackageStatus.java
  semantics/services/src/main/java/net/catenax/semantics/hub/domain/ModelPackageUrn.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/ModelRepository.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/PersistenceLayer.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/RDBMSPersistence.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/mapper/SemanticModelMapper.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/model/ModelEntity.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/triplestore/ResourceDefinitionNotFoundException.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/triplestore/SdsSdk.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/triplestore/SparqlQueries.java
  semantics/services/src/main/java/net/catenax/semantics/hub/persistence/triplestore/TripleStorePersistence.java
  semantics/services/src/main/resources/application.yml
  semantics/services/src/test/java/net/catenax/semantics/hub/ModelsApiFilterTest.java
  semantics/services/src/test/java/net/catenax/semantics/hub/ModelsApiTest.java
  semantics/services/src/test/java/net/catenax/semantics/hub/TestUtils.java
  semantics/services/src/test/java/net/catenax/semantics/hub/persistence/SdsSdkTest.java
  semantics/services/src/test/resources/net/catenax/semantics/hub/persistence/models/ModelWithReferenceToTraceability.ttl
  semantics/services/src/test/resources/net/catenax/semantics/hub/persistence/models/ProductUsage.ttl
  semantics/services/src/test/resources/net/catenax/semantics/hub/persistence/models/ProductUsageDetail.ttl
  semantics/services/src/test/resources/net/catenax/semantics/hub/persistence/models/Traceability.ttl
  semantics/services/src/test/resources/net/catenax/semantics/hub/persistence/models/ValidModelForApiTests.ttl
  semantics/services/src/test/resources/net/catenax/semantics/hub/persistence/models/VehicleWithNotAvailableExternalReference.ttl
Labels: Target:Staging, Portfolio:Semantic Layer

#431 Feature/catx as sldt@a1 sldt 285 aas api implementation
  infrastructure/manifests/semantics.yaml
  semantics/pom.xml
  semantics/services/digital-twin-registry-openapi.yaml
  semantics/services/pom.xml
  semantics/services/src/main/java/net/catenax/semantics/ApiExceptionHandler.java
  semantics/services/src/main/java/net/catenax/semantics/OpenAPIDocumentationConfig.java
  semantics/services/src/main/java/net/catenax/semantics/SemanticsServicesApplication.java
  semantics/services/src/main/java/net/catenax/semantics/registry/CustomTwinsApiDelegate.java
  semantics/services/src/main/java/net/catenax/semantics/registry/controller/AssetAdministrationShellApiDelegate.java
  semantics/services/src/main/java/net/catenax/semantics/registry/controller/IdentifierKeyValuePairConverter.java
  semantics/services/src/main/java/net/catenax/semantics/registry/dto/ShellCollectionDto.java
  semantics/services/src/main/java/net/catenax/semantics/registry/mapper/ShellMapper.java
  semantics/services/src/main/java/net/catenax/semantics/registry/mapper/ShellMapperCustomization.java
  semantics/services/src/main/java/net/catenax/semantics/registry/mapper/SubmodelMapper.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/Shell.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/ShellDescription.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/ShellIdentifier.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/Submodel.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/SubmodelDescription.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/SubmodelEndpoint.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/projection/ShellMinimal.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/projection/SubmodelMinimal.java
  semantics/services/src/main/java/net/catenax/semantics/registry/model/support/DatabaseExceptionTranslation.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/PersistenceLayer.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/RelationalDBPersistence.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/TwinRepository.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/mapper/TwinAspectMapper.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/model/AspectEntity.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/model/HttpEndpointEntity.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/model/LocalIdentifierEntity.java
  semantics/services/src/main/java/net/catenax/semantics/registry/persistence/model/TwinEntity.java
  semantics/services/src/main/java/net/catenax/semantics/registry/repository/ShellIdentifierRepository.java
  semantics/services/src/main/java/net/catenax/semantics/registry/repository/ShellRepository.java
  semantics/services/src/main/java/net/catenax/semantics/registry/repository/SubmodelRepository.java
  semantics/services/src/main/java/net/catenax/semantics/registry/service/EntityNotFoundException.java
  semantics/services/src/main/java/net/catenax/semantics/registry/service/ShellService.java
  semantics/services/src/main/resources/application.yml
  semantics/services/src/main/resources/db/changelog/db.changelog-extensions.yaml
  semantics/services/src/main/resources/db/changelog/db.changelog-master.yaml
  semantics/services/src/main/resources/db/changelog/db.changelog-v1.yaml
  semantics/services/src/main/resources/static/aas-registry-openapi.yaml
  semantics/services/src/main/resources/static/semantic-hub-openapi.yaml
  semantics/services/src/test/java/net/catenax/semantics/SwaggerUITest.java
  semantics/services/src/test/java/net/catenax/semantics/registry/AssetAdministrationShellApiTest.java
  semantics/services/src/test/java/net/catenax/semantics/registry/TwinsApiTest.java
  semantics/services/src/test/java/net/catenax/semantics/registry/mapper/ShellMapperTest.java
  semantics/services/src/test/resources/application.properties
Labels: Target:Staging, Portfolio:Semantic Layer

#430 Fix/CATX-A1-SLDT350
  .github/workflows/terraform.yml
  infrastructure/terraform/main.tf
  portal/code/tractus-x-portal/.env
  portal/code/tractus-x-portal/dev042.env
  portal/code/tractus-x-portal/int.env
  portal/code/tractus-x-portal/local.env
  portal/code/tractus-x-portal/src/components/digitaltwins/DigitalTwinDetail.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/DigitalTwinOverview.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/DigitalTwins.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/Submodels.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/data.ts
  portal/code/tractus-x-portal/src/components/digitaltwins/interfaces.ts
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/components/lists/DescriptionList.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
  portal/code/tractus-x-portal/src/components/semantics/data.ts
Labels: Target:Portfolio, Portfolio:Semantic Layer

#441 Integrate Semantic Services with Keycloak
  .github/workflows/semantics.yml
  infrastructure/manifests/semantics.yaml
  portal/code/tractus-x-portal/src/components/digitaltwins/data.ts
  portal/code/tractus-x-portal/src/components/semantics/SemanticModelDetail.tsx
  portal/code/tractus-x-portal/src/components/semantics/data.ts
  semantics/services/Dockerfile
  semantics/services/pom.xml
  semantics/services/src/main/java/net/catenax/semantics/OAuthSecurityConfig.java
  semantics/services/src/main/java/net/catenax/semantics/SemanticsServicesApplication.java
  semantics/services/src/main/resources/application.yml
  semantics/services/src/test/java/net/catenax/semantics/TestOAuthSecurityConfig.java
Labels: Target:Staging, Portfolio:Semantic Layer

#433 Change/SLDT-255 to main
  portal/code/tractus-x-portal/src/components/digitaltwins/DigitalTwins.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
Labels: Target:Staging, Portfolio:Semantic Layer

#434 Change/SLDT-350 to main
  portal/code/tractus-x-portal/.env
  portal/code/tractus-x-portal/dev042.env
  portal/code/tractus-x-portal/int.env
  portal/code/tractus-x-portal/local.env
  portal/code/tractus-x-portal/src/components/digitaltwins/DigitalTwinDetail.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/DigitalTwinOverview.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/DigitalTwins.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/Submodels.tsx
  portal/code/tractus-x-portal/src/components/digitaltwins/data.ts
  portal/code/tractus-x-portal/src/components/digitaltwins/interfaces.ts
  portal/code/tractus-x-portal/src/components/home.tsx
  portal/code/tractus-x-portal/src/components/lists/DescriptionList.tsx
  portal/code/tractus-x-portal/src/components/semantics/SemanticHub.tsx
  portal/code/tractus-x-portal/src/components/semantics/data.ts
Labels: Target:Staging, Portfolio:Semantic Layer

#453 Change lookup query from OR to AND
  semantics/services/src/main/java/net/catenax/semantics/registry/repository/ShellRepository.java
  semantics/services/src/main/java/net/catenax/semantics/registry/service/ShellService.java
  semantics/services/src/main/resources/db/changelog/db.changelog-v1.yaml
  semantics/services/src/main/resources/static/aas-registry-openapi.yaml
  semantics/services/src/test/java/net/catenax/semantics/registry/AssetAdministrationShellApiTest.java
Labels: Target:Portfolio, Portfolio:Semantic Layer
